html,
body {
    font-family: "Lato", "Verdana", "Arial", sans-serif;
    font-size: 100%;
    font-weight: 100;
    color: #111
}

.wrapper {
    max-width: 800px;
    margin: auto;
}

footer {
    min-height: 200px;
}

.logo {
    display: block;
    width: 170px;
    text-align: center;
    margin: 20px auto 20px;
}
.logo img {
    display: block;
    width: 150px;
}
.logo h1 {
    color: #74C7A8;
    font-size: 1.4em;
    margin-top: 0;
}

header h2 {
    margin: 80px 0;
    font-size: 1.6em;
    text-align: center;
    color: #808284;
}

h1 {
    font-size: 2.4em;
    line-height: 1.2em;
    margin-bottom: 1em;
    margin-top: 1em;
}

h2 {
    font-size: 1.4em;
    line-height: 2em
}

h3 {
    font-size: 1.2em;
    line-height: 1.6em
}

hr {
    border: 0;
    border-bottom: 1px solid silver
}

li {
    display: inline-block
}

main {
    background: #fefefefe;
    padding: 2px 0
}

main section {
    margin: 20px;
    margin-top: 80px
}

p {
    margin: 1em 0em;
    line-height: 1.4em;
    overflow: hidden;
}

p.headline {
    font-size: 1.3em;
    margin-bottom: 0em
}

b {
    font-weight: 900
}

img.icon {
    background: #74C7A8;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    width: 100px
}

p.social {
    text-align: center;
}
a.social {
    text-decoration: none
}

img.social {
    width: 30px;
    background: white;
    border-radius: 100%;
    padding: 10px
}

.left {
    float: left;
    width: 200px
}

.right {
    float: right;
    width: 530px
}

a.cta_button {
    display: block;
    font-size: 1.2em;
    color: white;
    background: #F7931D;
    box-shadow: 0px 3px 2px #d3d3d3;
    margin: 0.8em;
    padding: 0.8em;
    text-decoration: none;
    border-radius: 0.4em;
    width: 10em;
    margin: 80px auto 40px;
    text-align: center;
    line-height: 1.6em;
}

a.cta_button_inline {
  margin: 0;
  background: #74C7A8;
}

a {
  color: #74C7A8;
}

.persoon {
    width: 200px;
    padding: 10px;
    border-bottom: 1px solid #aaa;
    display: inline-block;
    margin: 10px;
}
.persoon .pasfoto {
    width: 100%;
    border-radius: 50%;
}

@media screen and (max-width: 800px) {
    .left {
        text-align: center;
        width: 100%
    }
    .left img {
        width: 48px;
        margin: 12px
    }
    h1 {
        text-align: center
    }
    .left {
        float: none
    }
    .right {
        float: none;
        width: 100%
    }
    .calendar {
        float: none;
        width: 100%
    }
    .persoon {
        display: block;
        margin: 40px auto;
    }
    .centered_content h2 {
        text-align: center;
    }
}

.social a {
  margin-right: 0.4em;
}
.smGlobalBtn{ /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 32px;
    height: 32px;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    border-radius: 2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    vertical-align: bottom;
}

.twitterBtn{
    background: #00ABE3;
}

.twitterBtn:before{
      font-family: "FontAwesome";
      content: "\f099"; /* add twitter icon */
}

/* linkedin button class*/
.linkedinBtn{
    background: #0094BC;
}

.linkedinBtn:before{
      font-family: "FontAwesome";
      content: "\f0e1"; /* add linkedin icon */
}

/* github button class*/
.githubBtn{
    background: #171515;
}

.githubBtn:before{
      font-family: "FontAwesome";
      content: "\f09b"; /* add github icon */
}

/* medium button class*/
.mediumBtn{
    color: #333333; /*medium huisstijl*/
    background-image: url('../img/social/Medium.png');
    background-size: 32px 32px;
}

/* email button class*/
.emailBtn{
    background: #24292e;
}

.emailBtn:before{
      font-family: "FontAwesome";
      content: "\f0e0"; /* add email icon */
}

/* website button class*/
.websiteBtn{
    background-image: url('../img/social/website.png');
    background-size: 32px 32px;
}

/* slack button class */
.slackBtn{
    background-image: url('../img/social/Slack.png');
    background-size: 32px 32px;
}
