---
layout: default
title: Samenwerken aan de Digitale Overheid.
---

<section>
    <p class="headline">
      Stichting <b>Code for NL</b> is het Nederlandse netwerk van
      open source developers en designers die samenwerken aan de
      digitale overheid.
    </p>
    <p class="headline">
      Ons doel is de succesvolle
      digitale transformatie van gemeenten, andere overheden en de
      samenleving als geheel.
    </p>
    <p class="headline">
      Code for NL is governing partner van het internationale Code for All netwerk.
    </p>
</section>

<section style="text-align: center">
    <a href="/community" class="col-link">
        <img class="icon" src="http://www.codefor.eu/img/icon-community.png">
        <h2>Code for NL voor<br>developers en designers</h2>
    </a>
    <a href="/overheden" class="col-link">
        <img class="icon" src="http://www.codefor.eu/img/icon-gov.png">
        <h2>Code for NL<br>voor overheden</h2>
    </a>
</section>

<section>
    <h1>Organisatie</h1>
    {% for persoon in site.data.organisatie.organisatie %}
        <div class="persoon">
            <!--<img class="pasfoto" src="/assets/images/fellows/{{ fellow.slug }}.jpg">-->
            <p>
                {{ persoon.naam }}<br>
                {{ persoon.functie }}<br>
            </p>
        </div>
    {% endfor %}
</section>

<section>
    <h1>Ambassadeurs</h1>
   {% for ambassadeur in site.data.ambassadeurs.ambassadeurs %}
        <div class="persoon">
            <!--<img class="pasfoto" src="/assets/images/fellows/{{ ambassadeur.slug }}.jpg">-->
            <p>
                {{ ambassadeur.name }}<br>
                {{ ambassadeur.organization }}<br>
            </p>
        </div>
   {% endfor %}
</section>

<section>
    <h1>Code Fellows</h1>
    {% assign fellows = site.data.fellows.fellows | sort: 'year' | reverse %}
    {% for fellow in fellows %}
        <div class="persoon">
            <!--<img class="pasfoto" src="/assets/images/fellows/{{ fellow.slug }}.jpg">-->
            <p>
                {{ fellow.name }} ({{ fellow.year }})<br>
                {{ fellow.chapter }}<br>
                {{ fellow.specialty }}<br>
            </p>
        </div>
    {% endfor %}
</section>
