<footer>
    <div class="wrapper">
        <div style="text-align: center; margin-top: 80px; margin-bottom: 80px">
          <h2>Contact</h2>
          <p class="social">
            Stichting <b>Code for NL</b><br>
            KvK <a target="_blank" href="https://www.kvk.nl/orderstraat/product-kiezen/?kvknummer=69749477">69749477</a><br />
          </p>
          <p class="social">
            <b>Postadres</b><br>
            Burg. de Joss. de Jongln. 8<br>
            3042 NH  Rotterdam
          </p>
          <p class="social">
            <b>Bezoekadres</b><br>
            Waag Society<br>
            Nieuwmarkt 4<br>
            1012 CR Amsterdam
          </p>
          <br>
          <p class="social">
            <a class="githubBtn smGlobalBtn" href="https://github.com/codefornl" title="Code for NL Github"></a>
            <a class="partupBtn smGlobalBtn" href="https://part-up.com/tribes/open-data-and-civic-innovation?show=false" title="Code for NL Part-up"></a>
            <a class="twitterBtn smGlobalBtn" href="https://twitter.com/codefornl" title="Code for NL op Twitter"></a>
            <a class="slackBtn smGlobalBtn" href="http://praatmee.codefor.nl/" title="Code for NL Slack omgeving"></a>
            <a class="mediumBtn smGlobalBtn" href="https://medium.com/code-for-nl" title="Code for Europe Publicaties op Medium"></a>
            <a class="emailBtn smGlobalBtn" href="mailto://info@codefor.nl" title="E-mail Code for NL"></a>
          </p>
        </div>
    </div>
</footer>

{% include scripts.html %}
