  <head>
      <title>Code for NL - {{ page.title }}</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta property="og:type" content="default">
      <meta property="og:url" content="http://www.codefor.nl">
      <meta property="og:site_name" content="Code for NL">
      <meta property="og:title" name="title" content="Code for NL">
      <meta property="og:description" name="description" content="Code for NL is het netwerk van developers en designers die werken aan de digitale overheid">
      <meta property="og:image" content="http://www.codefor.nl/img/larger_CfNL.png">
      <meta name="keywords" content="code, for, nl">
      <link rel="image_src" href="/assets/images/larger_CfNL.png" />
      <link rel="shortcut icon" href="/assets/images/CfNL.png">
      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
      <link rel="stylesheet" href="/assets/css/reset.css">
      <link rel="stylesheet" href="/assets/css/style.css">
      <script src="https://use.fontawesome.com/164ce3f549.js"></script>
  </head>
